<mat-toolbar color="primary" class="header-toolbar" [class.sidebar-collapsed]="isSidebarCollapsed">
    <div class="header-content">
      <!-- Left side - Wallet -->
      <div class="header-left">
        <!-- Moved Wallet Balance to left side -->
        <div class="wallet-balance">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>{{ walletAmount }}</span>
        </div>
      </div>
  
      <!-- Right side - User controls -->
      <div class="header-right">
        <!-- Language Selector -->
        <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
          <img [src]="'../img/' + (language === 'es' ? 'es.png' : 'en.png')" 
               [alt]="language + ' flag'" 
               class="language-flag">
          <span>{{ language.toUpperCase() }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>    
                
        <mat-menu #languageMenu="matMenu" class="language-menu">
          <button mat-menu-item (click)="setLanguage('es')">
            <img src="../img/es.png" alt="ES flag" class="menu-flag">
            <span>Español</span>
          </button>
          <button mat-menu-item (click)="setLanguage('en')">
            <img src="../img/en.png" alt="EN flag" class="menu-flag">
            <span>English</span>
          </button>
        </mat-menu>
        <!-- Notifications -->
        <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" class="notifications-button">
          <mat-icon [matBadge]="user.notifications" matBadgeColor="warn">notifications</mat-icon>
        </button>
  
        <!-- User Menu -->
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
          <mat-icon>account_circle</mat-icon>
        </button>

        <!-- <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
          <span class="user-name">{{ user.name }}</span>
          <mat-icon>expand_more</mat-icon>
        </button> -->
      </div>
    </div>
  </mat-toolbar>
  
  <!-- Notifications Menu -->
  <mat-menu #notificationsMenu="matMenu" class="notifications-menu">
    <div class="notifications-header">
      <h3>Notificaciones</h3>
      <button mat-button color="primary">Marcar todo como leído</button>
    </div>
    <mat-divider></mat-divider>
    <div class="notification-item">
      <mat-icon>info</mat-icon>
      <div class="notification-content">
        <p>Nueva alerta de precio</p>
        <small>Hace 5 minutos</small>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="notification-actions">
      <button mat-button>Ver todas las notificaciones</button>
    </div>
  </mat-menu>
  
  <!-- User Menu -->
  <mat-menu #userMenu="matMenu" class="user-menu">
    <button mat-menu-item [routerLink]="['/perfil']">
      <mat-icon>manage_accounts</mat-icon>
      <span>Mi Perfil</span>
    </button>
    <button mat-menu-item (click)="handleMenuAction('logout')">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>