<mat-toolbar class="main-toolbar">

  <div class="toolbar-left">

    <button
      class="back-button"
      routerLink="/">

      ← Inicio

    </button>

  </div>

  <div class="toolbar-right">

    <a
      class="nav-link"
      routerLink="/login"
      routerLinkActive="active">

      Ingresar

    </a>

    <a
      class="nav-link"
      routerLink="/registro"
      routerLinkActive="active">

      Registrarse

    </a>

    <a
      class="nav-link"
      routerLink="/contacto"
      routerLinkActive="active">

      Contacto

    </a>

  </div>

</mat-toolbar>

<router-outlet></router-outlet>