<div class="public-shell">

  <mat-toolbar class="main-toolbar">

    <div class="toolbar-left">

      <button class="back-button" type="button" routerLink="/">
        {{ 'HOME.PUBLIC_LAYOUT.BACK_HOME' | translate }}
      </button>

      <span class="toolbar-divider"></span>

      <a class="brand-wordmark" routerLink="/">
        Invest<span class="brand-accent">Lab</span>
      </a>

    </div>

    <div class="toolbar-right">

      <a class="nav-link" routerLink="/login" routerLinkActive="active">
        {{ 'HOME.PUBLIC_LAYOUT.NAV_LOGIN' | translate }}
      </a>

      <a class="nav-link" routerLink="/registro" routerLinkActive="active">
        {{ 'HOME.PUBLIC_LAYOUT.NAV_REGISTER' | translate }}
      </a>

      <a class="nav-link" routerLink="/contacto" routerLinkActive="active">
        {{ 'HOME.PUBLIC_LAYOUT.NAV_CONTACT' | translate }}
      </a>

    </div>

  </mat-toolbar>

  <router-outlet></router-outlet>

</div>
