<mat-toolbar color="primary" class="header-toolbar" [class.sidebar-collapsed]="isSidebarCollapsed">
    <div class="header-content">
      <!-- Left side - Wallet -->
      <div class="header-left">
        <!-- Moved Wallet Balance to left side -->
        <div class="wallet-balance">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>{{ walletAmount }}</span>
        </div>
      </div>
  
      <!-- Right side - User controls -->
      <div class="header-right">
        <!-- Currency Selector -->
        <button mat-button [matMenuTriggerFor]="currencyMenu" class="currency-button">
          <img [src]="'../img/' + (currency === 'USD' ? 'usd.png' : 'ars.png')" 
               [alt]="currency + ' flag'" 
               class="currency-flag">
          <span>{{ currency }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        
        <!-- User Menu -->
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
          <mat-icon>account_circle</mat-icon>
        </button>
                
        <mat-menu #currencyMenu="matMenu" class="currency-menu">
          <button mat-menu-item (click)="changeCurrency('ARS')">
            <img src="../img/ars.png" alt="ARS flag" class="menu-flag">
            <span>ARS - Peso Argentino</span>
          </button>
          <button mat-menu-item (click)="changeCurrency('USD')">
            <img src="../img/usd.png" alt="USD flag" class="menu-flag">
            <span>USD - Dólar Estadounidense</span>
          </button>
        </mat-menu>
  
        <!-- Notifications -->
        <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" class="notifications-button">
          <mat-icon [matBadge]="user.notifications" matBadgeColor="warn">notifications</mat-icon>
        </button>
  
        <!-- User Menu -->
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
          <span class="user-name">{{ user.name }}</span>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  
  <!-- Notifications Menu -->
  <mat-menu #notificationsMenu="matMenu" class="notifications-menu">
    <div class="notifications-header">
      <h3>Notificaciones</h3>
      <button mat-button color="primary">Marcar todo como leído</button>
    </div>
    <mat-divider></mat-divider>
    <div class="notification-item">
      <mat-icon>info</mat-icon>
      <div class="notification-content">
        <p>Nueva alerta de precio</p>
        <small>Hace 5 minutos</small>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="notification-actions">
      <button mat-button>Ver todas las notificaciones</button>
    </div>
  </mat-menu>
  
  <!-- User Menu -->
  <mat-menu #userMenu="matMenu" class="user-menu">
    <button mat-menu-item [routerLink]="['/perfil']">
      <mat-icon>manage_accounts</mat-icon>
      <span>Mi Perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>